<% provide(:title, "Team") %>
<h1><%= @team.teamname %></h1>


<p><% if !@team.league_id.nil? %>
	<%= "#{@team.league.name} | " %>
	<% end %>
	<%= "#{@team.points} points" %></p>

<% @team.players.each do |player| %>
	<%= "#{player.name} | #{player.club} | #{player.points}" %><br />
<% end %>



