<h1>Leagues#new</h1>
	<%= form_for @league do |f| %>
<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
</div>
		<%= f.submit "Create", class: "btn btn-large btn-primary" %>
	<% end %>
