<h1><%= @league.name %></h1>

<table>
	<tr>
		<th>Team</th>
		<th>User</th>
		<th>Points</th>
	</tr>
	<% @league.teams.each do |team| %>
	<tr>
		<td><%= team.teamname %></td>
		<td><%= team.user.username %></td>
		<td><%= team.points %></td>
	</tr>
	<% end %>
</table>
