<h1><%= @league.name %></h1>

<table>
	<tr>
		<th>Team</th>
		<th>User</th>
		<th>Points</th>
	</tr>
	<% @teams.each do |team| %>
	<tr>
		<td><%= team.teamname %></td>
		<td><% if can? :read, team.user %>
				<%= link_to team.user.username, user_path(team.user) %>
			<% end %></td>
		<td><%= team.points %></td>
	</tr>
	<% end %>
</table>
