<% provide(:title, 'Home') %>
<h1>Fantasy Football</h1>
<% if !@content.nil? then %>
	<% @content.reverse.each do |content| %>
		<br />
	    <h2><%= content.name %></h2> 
	    <p><%= simple_format(content.body) %></p><br />
		<hr><br /><br />
	<% end %>
<% end %>